@keyframes add {
    from {
        z-index: -2000;
        position: absolute;
        width: 100%;
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
        z-index: 2000;
        position: relative;
    }
}

.bottomlist {
    display: flex;
    justify-content: center;

    > .container {
        margin-top: 50px;
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
    }

    .income,
    .expenses {
        width: 50%;
        position: relative;

        > .title {
            font-size: 28px;
            font-weight: 100;
        }
    }

    .income {
        margin-right: 50px;

        > .title,
        .value {
            color: $color-income-primary;
        }
    }

    .expenses {
        > .title,
        .value  {
            color: $color-expenses-primary;
        }
    }

    .list {
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;

        > li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            height: 50px;
            border-top: 1px solid hsl(0,0%,90%);
            background-color: white;

            &:last-child {
                border-bottom: 1px solid hsl(0,0%,90%);
            }
            &:nth-child(even) {
                background-color: hsl(0,0%,95%);
            }

            animation: add 1s;
            animation-fill-mode: forwards; 
        }
    }
}