.bottomlist {
    display: flex;
    justify-content: center;

    > .container {
        margin-top: 50px;
        // background-color: #eee;

        width: 100%;
        max-width: 1000px;

        // padding: 10px;

        display: flex;
        justify-content: space-between;
    }

    .income,
    .expenses {
        width: 50%;

        > .title {
            font-size: 28px;
            font-weight: 100;
        }
    }

    .income {
        margin-right: 50px;

        > .title {
            color: $color-income-primary;
        }
    }

    .expenses {
        > .title {
            color: $color-expenses-primary;
        }
    }

    .list {
        margin: 0;
        padding: 0;

        // border: 1px solid #ddd;

        > li {
            display: flex;
            // margin-top: 10px;

            justify-content: space-between;
            align-items: center;

            // padding: 6px 12px;
            padding: 0 10px;

            height: 50px;

            > .desc {

            }
            > .value {

            }
            border-top: 1px solid hsl(0,0%,90%);


            &:last-child {
                border-bottom: 1px solid hsl(0,0%,90%);
            }

            &:nth-child(even) {
                background-color: hsl(0,0%,95%);
            }
        }


    }



}
